@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
/*$breakpoint-small: 320px;
$breakpoint-med-small: 768px;
$breakpoint-big: 1280px;*/
nav {
  /*position: fixed;
  top: 0;*/
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #999999;
  width: 100%;
}
nav .icons {
  align-items: center;
  justify-content: center;
  color: #999999;
  display: flex;
  cursor: pointer;
}
nav .icons .circle {
  position: relative;
}
nav .icons .circle .bag {
  width: 25px;
  height: 25px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 10%;
  background: white;
  border: 2px solid #84bc22;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  nav .icons .circle .bag {
    width: 15px;
    height: 15px;
    top: -5px;
    right: -20%;
  }
}
nav .icons i {
  text-align: center;
  /* vertical-align: middle;*/
  padding-right: 22px;
  padding-left: 22px;
  font-size: 25px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  nav .icons i {
    font-size: 14px;
    padding-right: 4px;
    padding-left: 4px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  nav .icons {
    display: none;
  }
}
nav .en-us {
  /* padding: 0 22px;*/
  /*@include padding(null,null,0,22px);*/
  color: #999999;
  list-style: none;
  line-height: 24px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  nav .en-us {
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 10px;
  }
}
nav .en-us select {
  /*padding: 0 22px;*/
  padding-right: 22px;
  padding-bottom: 0;
  padding-left: 22px;
  color: #999999;
  outline: 0px;
  border: 0px;
  font-size: 14px;
  background: #fff;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  nav .en-us select {
    font-size: 10px;
    padding-bottom: 0;
    padding-left: 3px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  nav .en-us {
    display: none;
  }
}
nav #media {
  display: none;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  nav #media {
    display: block;
    border-radius: 20px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
}
nav #desktop {
  display: block;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  nav #desktop {
    display: none;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  nav #desktop {
    border-radius: 10px;
    width: 180px;
    height: 180px;
  }
}
nav input {
  display: none;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  nav {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.logo {
  display: flex;
}
.logo .text-logo {
  margin-left: 9px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .logo .text-logo {
    display: none;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) and (min-width:768px) and (max-width:1279px) {
  .logo .text-logo {
    margin-left: 4px;
  }
}
.logo .text-logo .logop {
  font-size: 42px;
  color: #011847;
  font-weight: 900;
  letter-spacing: 10px;
  margin-bottom: -10px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .logo .text-logo .logop {
    font-size: 21px;
    letter-spacing: 5px;
    margin-top: 5px;
    margin-bottom: -5px;
  }
}
.logo .text-logo p {
  font-size: 24px;
  color: #84bc22;
  font-weight: 400;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .logo .text-logo p {
    font-size: 16px;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  /*margin: auto;*/
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    z-index: 99;
  }
}
.wrapper .nav-links {
  text-decoration: none;
  display: inline-flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .nav-links {
    position: fixed;
    width: 100%;
    background: #262a32;
    top: 75px;
    left: -100%;
    /* height: 100vh;*/
    display: block;
    overflow-y: auto;
  }
}
.wrapper .nav-links .fa-caret-down {
  display: none;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .nav-links .fa-caret-down {
    display: block;
    float: right;
    color: #999999;
    line-height: 40px;
  }
}
.wrapper .nav-links li {
  /*  @include padding(null,20px,null,20px);*/
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .wrapper .nav-links li {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.wrapper .nav-links li:hover .mega-box {
  /*transition: all 0.3s ease;*/
  top: 76px;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .wrapper .nav-links li:hover .mega-box {
    top: 70px;
  }
}
.wrapper .nav-links li p {
  font-size: 14px;
  font-weight: 400;
  height: 78px;
  align-items: center;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .wrapper .nav-links li p {
    font-size: 12px;
    padding-right: 9px;
    padding-left: 9px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .nav-links li p {
    display: block;
    color: white;
    font-size: 19px;
    font-weight: 900;
    line-height: 73px;
    padding-right: 20px;
  }
}
.wrapper .nav-links .mobile-item {
  display: none;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .nav-links .mobile-item {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 19px;
    font-weight: 900;
    line-height: 73px;
    /* @include padding(null,10px, null,null);
     @include screen("breakpoint-small") {*/
    padding-right: 22px;
    padding-left: 22px;
  }
}
.wrapper .nav-links .desktop-item {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .nav-links .desktop-item {
    display: none;
  }
}
.wrapper .mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    max-height: 0px;
    overflow: hidden;
  }
}
.wrapper .mega-box .content {
  background: #262a32;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .wrapper .mega-box .content {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mega-box .content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
}
.wrapper .mega-box .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .wrapper .mega-box .row label {
    font-size: 24px;
    line-height: 20px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mega-box .row label {
    font-weight: 400;
    font-size: 21px;
    line-height: 41px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mega-box .row {
    width: 100%;
  }
}
.wrapper .mega-box p {
  font-weight: 900;
  font-size: 14px;
  color: white;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .wrapper .mega-box p {
    font-size: 24px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mega-box p {
    font-weight: 400;
    font-size: 21px;
    line-height: 41px;
  }
}
.wrapper .mega-box .mega-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  grid-gap: 70px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mega-box .mega-links {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
  }
}
.wrapper .mega-box .mega-links a {
  color: white;
  font-size: 16px;
  line-height: 31px;
  display: block;
}
.wrapper .mega-box .mega-links a:hover {
  color: #84bc22;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .wrapper .mega-box .mega-links a {
    font-size: 16px;
    line-height: 24px;
  }
}
.wrapper .btn {
  font-size: 20px;
  cursor: pointer;
  display: none;
  color: #2d343a;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .btn {
    display: block;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #cancel-btn:checked ~ .btn.menu-btn {
    display: block;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #cancel-btn:checked ~ .btn.cancel-btn {
    display: none;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #cancel-btn:checked ~ .mega-box {
    max-height: 100%;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #showTitle:checked ~ .mobile-item {
    max-height: 100%;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #showMega:checked ~ .mega-links li {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mega {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 65px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #showTitle:checked ~ .mega {
    max-height: 100%;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper .mini {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 65px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    color: white;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper #showSale:checked ~ .mini {
    max-height: 100%;
  }
}

.icons {
  display: none;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .icons {
    align-items: center;
    justify-content: center;
    color: #999999;
    display: flex;
    margin-top: auto;
    height: 55px;
    background: #262a32;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .icons i {
    padding-right: 22px;
    padding-left: 22px;
    font-size: 30px;
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .fa-bars {
    position: absolute;
    left: 20px;
    top: 30px;
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .fa-times {
    position: absolute;
    left: 20px;
    top: 30px;
  }
}

#service {
  font-size: 14px;
  font-weight: 400;
}
#service:hover {
  background: #262a32;
  color: white;
  border-bottom: solid #84bc22 10px;
}

.mega-links-sale {
  list-style: none;
  /*font-size: pt-to-px(16);*/
  font-weight: 400;
  /* line-height: pt-to-px(31);*/
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .mega-links-sale {
    padding-left: 50px;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .mega-links-sale li {
    font-size: 16px;
    line-height: 24px;
  }
}
.mega-links-sale a {
  color: #fff;
  font-size: 16px;
  line-height: 31px;
}
.mega-links-sale a:hover {
  color: #84bc22;
}

.circle {
  position: relative;
}
.circle .bag {
  width: 25px;
  height: 25px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 10%;
  color: #84bc22;
  background: #262a32;
  border: 2px solid #84bc22;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  /* display: flex;*/
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  /* right: -105%;*/
  right: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* transition:all 0.5s ease-in-out;*/
}
.login-form.show-active {
  display: flex;
  /*  right: 0;*/
  transition: all 0.5s ease-in-out;
}
.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 1px solid #999999;
  border-radius: 10px;
  width: 500px;
  /*height:467px;*/
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}
.login-form form h2 {
  font-size: 40px;
  text-align: center;
  color: #45413e;
  font-weight: 900;
}
.login-form form span {
  display: block;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 16px;
  align-self: flex-start;
  color: #45413e;
}
.login-form form input {
  width: 90%;
  /*margin: 0.7rem 0;*/
  margin-top: 11px;
  margin-right: 0;
  margin-bottom: 11px;
  margin-left: 0;
  font-size: 25px;
  border: 2px solid #999999;
  border-radius: 20px;
  color: black;
  padding: 10px;
}
.login-form form .submit-btn {
  margin-top: 16px;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 20px;
  color: aliceblue;
  background: #84bc22;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  width: 50%;
  margin: 1.5rem 0;
  margin-top: 24px;
  margin-right: 0;
  margin-bottom: 24px;
  margin-left: 0;
  border: none;
  align-content: center;
}
.login-form form .submit-btn:hover {
  color: #84bc22;
  background: white;
  border: 1px solid #84bc22;
}
.login-form form p {
  color: #84bc22;
  line-height: 47px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: -35px;
}
.login-form form .pass-icons {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  /* padding: 10px;*/
}
.login-form form .pass-icons i {
  position: absolute;
  right: 35px;
  top: 30px;
  color: #999999;
}
.login-form form .pass-icons #hide2 {
  display: none;
}
.login-form form .passForgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.login-form form .pass {
  color: #84bc22;
  line-height: 57px;
  font-size: 16px;
}

.products {
  background: #262a32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*@include padding(null,59px,null,59px);*/
  /* h2 {
     display: flex;
     flex-direction: row;
      text-align: center;
      font-size:24px;
      color:white;
      font-weight:700;
      @include margin(89px, null,null,null);
      @include padding(null,null,41px,null);

      h2:before, h2:after{
         content: "";
         flex: 1 1;
         border-bottom: 1px solid;
         margin: auto;
       }
       h2:before {
         margin-right: 10px
       }
       h2:after {
         margin-left: 10px
       }
  }*/
  /*.title:after,
   .title:before{
     content:"\00a0\00a0\00a0\00a0\00a0";
     text-decoration:line-through;
     width: 100%;
     color: white;

  }*/
}
.products .containerProducts, .products .prodotto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  justify-items: center;
  padding-top: 0px;
  padding-right: 59px;
  padding-bottom: 59px;
  padding-left: 59px;
  width: 100%;
  margin-left: -50px;
  /* @include padding(null,70px,null,59px);*/
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .products .containerProducts, .products .prodotto {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .products .containerProducts, .products .prodotto {
    display: flex;
    /*flex-direction: row;*/
    text-align: center;
    /* height:100%;*/
    grid-gap: 15px;
    padding-top: 0px;
    padding-right: 80px;
    padding-bottom: 59px;
    padding-left: 80px;
    margin-left: -20px;
    /*@include padding(0px,auto,59px,auto);*/
  }
}
.products .containerProducts .small-container,
.products .containerProducts article, .products .prodotto .small-container,
.products .prodotto article {
  position: relative;
  height: 366px;
  width: 271px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /*@include padding(null,70px,null,59px);
        @include margin(null,30px,null,30px);*/
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .products .containerProducts .small-container,
.products .containerProducts article, .products .prodotto .small-container,
.products .prodotto article {
    margin-right: -12px;
    margin-left: -12px;
  }
}
.products .containerProducts .small-container:hover .productIcons,
.products .containerProducts article:hover .productIcons, .products .prodotto .small-container:hover .productIcons,
.products .prodotto article:hover .productIcons {
  opacity: 0.9;
}
.products .containerProducts .small-container:nth-child(8):after,
.products .containerProducts article:nth-child(8):after, .products .prodotto .small-container:nth-child(8):after,
.products .prodotto article:nth-child(8):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #675b99 0%, #dc5886 100%);
  opacity: 0.8;
  border-radius: 10px;
}
.products .containerProducts .small-container:nth-child(8) img,
.products .containerProducts article:nth-child(8) img, .products .prodotto .small-container:nth-child(8) img,
.products .prodotto article:nth-child(8) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: #262a32;
}
.products .containerProducts .small-container:nth-child(8) .text,
.products .containerProducts article:nth-child(8) .text, .products .prodotto .small-container:nth-child(8) .text,
.products .prodotto article:nth-child(8) .text {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 1;
}
.products .containerProducts .small-container:nth-child(8) .text p,
.products .containerProducts article:nth-child(8) .text p, .products .prodotto .small-container:nth-child(8) .text p,
.products .prodotto article:nth-child(8) .text p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  width: 131px;
  height: 60px;
  line-height: 24px;
}
.products .containerProducts .small-container:nth-child(8) .text i,
.products .containerProducts article:nth-child(8) .text i, .products .prodotto .small-container:nth-child(8) .text i,
.products .prodotto article:nth-child(8) .text i {
  font-size: 20px;
  color: #23c46e;
  margin-right: 10px;
}
.products .containerProducts .small-container:nth-child(8) .text span,
.products .containerProducts article:nth-child(8) .text span, .products .prodotto .small-container:nth-child(8) .text span,
.products .prodotto article:nth-child(8) .text span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.products .containerProducts .productIcons, .products .prodotto .productIcons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, #1bc167 0%, #2dd3a1 100%);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.products .containerProducts .productIcons .fa-plus, .products .prodotto .productIcons .fa-plus {
  background-color: #fff;
  color: #23c46e;
  font-size: 50px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 50%;
}
.products .containerProducts .productIcons .fa-heart, .products .prodotto .productIcons .fa-heart {
  background-color: #fff;
  color: #e73c68;
  font-size: 50px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.products .containerProducts img, .products .prodotto img {
  object-fit: cover;
  width: 271px;
  height: 261px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.products .containerProducts .text, .products .prodotto .text {
  text-align: center;
}
.products .containerProducts .text p, .products .prodotto .text p {
  /* justify-self: center;
        align-self: center;*/
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.products .containerProducts .text .price, .products .prodotto .text .price {
  color: #011847;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.products .containerProducts button, .products .prodotto button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-radius: 20px;
  /* @include padding(11px,21px,11px,21px);*/
  outline: none;
  border: 2px solid #999999;
  background-color: #fff;
}
.products .containerProducts button #price, .products .prodotto button #price {
  color: #84bc22;
  padding-top: 11px;
  padding-right: 21px;
  padding-bottom: 11px;
  padding-left: 21px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.products .containerProducts button a, .products .prodotto button a {
  border-left: 2px solid #999999;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding-top: 13px;
  padding-right: 23px;
  padding-bottom: 13px;
  padding-left: 23px;
}
.products h2 {
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 900;
  margin-top: 89px;
  margin-bottom: 33px;
  /* @include padding(8px,50px,px,50px);*/
  position: relative;
  background: #262a32;
}
.products h2::before {
  content: "";
  display: block;
  width: 800px;
  height: 3px;
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 50%;
}
.products h2::after {
  content: "";
  display: block;
  width: 800px;
  height: 3px;
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 50%;
}
.products h2 span {
  position: relative;
  background: #262a32;
  font-size: 24px;
  color: white;
  font-weight: 900;
  margin-top: 89px;
  padding-top: 8px;
  padding-right: 60px;
  padding-bottom: 8px;
  padding-left: 60px;
}
.products .load {
  margin-top: 51px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 2px solid #e8e2d6;
  border-radius: 25px;
  background-color: #1e1d22;
  padding-top: 13px;
  padding-right: 69px;
  padding-bottom: 13px;
  padding-left: 69px;
}
.products .load p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.products .load i {
  color: #ffffff;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 20px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .products .load {
    display: none;
  }
}
.products .prodotto {
  display: none;
}
.products .prodotto.active {
  display: grid;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .products .prodotto {
    display: none;
  }
}

.swiper {
  width: 100%;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .swiper {
    /* width: 100%;*/
    height: 100%;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .swiper .swiper-slide {
    width: 0px;
    /* text-align: center;*/
    /* font-size: 18px;*/
    /* background: #fff;*/
    /* Center slide text vertically */
    /* display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;*/
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
}

footer {
  /*position:fixed;
     bottom:0;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 70px;
  /*classe{
      opacity: 0.3;
      text-decoration:none;
      font-size:20px;
      color:$m-grey;
    }*/
  /*.contacts {
      font-size:13px;
      line-height:18px;
      color:$m-grey;
      font-weight: 400;
    }*/
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer {
    flex-direction: column;
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: 23px;
    margin-left: 0px;
  }
}
footer .copies {
  margin-bottom: 20px;
}
footer .addresses {
  margin-bottom: 20px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  footer .addresses {
    font-size: 15px;
  }
}
footer .coll {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* &:nth-child(4){
            display: flex;
            justify-content: space-around;

            a{
              color:$m-grey;
              font-size: 20px;
              opacity: 0.3;

            }*/
}
footer .coll:nth-child(2) .link-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  footer .coll:nth-child(2) .link-row {
    grid-gap: 30px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer .coll:nth-child(2) .link-row {
    display: flex;
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    overflow: hidden;
    grid-gap: 0px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer .coll:nth-child(4) {
    justify-self: center;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  footer .coll p {
    line-height: 13px;
  }
}
footer i {
  color: #45413e;
  font-size: 20px;
  opacity: 0.3;
  padding-right: 20px;
}
footer i:hover {
  color: #84bc22;
  opacity: 1;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  footer i {
    font-size: 10px;
    padding-right: 10px;
  }
}
footer a {
  opacity: 0.7;
  text-decoration: none;
  font-size: 13px;
  line-height: 31px;
  font-weight: 400;
  color: #45413e;
}
footer .col-small {
  display: flex;
  flex-direction: column;
}
footer h4 {
  font-size: 13px;
  font-weight: 700;
  color: #45413e;
  margin-bottom: 20px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  footer h4 {
    font-size: 9px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer h4 {
    display: none;
  }
}
footer address {
  display: flex;
  flex-direction: column;
}
footer address a {
  text-decoration: none;
  color: #45413e;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 20px;
}
footer label {
  display: none;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer label {
    display: block;
    font-size: 13px;
    color: #333333;
    font-weight: 700;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer .info {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    overflow: hidden;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer #showContacts:checked ~ .info {
    max-height: 100%;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer #showCategories:checked ~ .link-row {
    max-height: 100%;
  }
}
footer .abouts {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer .abouts {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    overflow: hidden;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer #showAbouts:checked ~ .abouts {
    max-height: 100%;
  }
}
footer input {
  display: none;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  footer label {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.carusel-container {
  display: flex;
  flex-direction: row;
  margin-top: 17px;
  margin-right: 52px;
  margin-bottom: 17px;
  margin-left: 52px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container {
    align-items: center;
    justify-content: center;
    /* @include margin(17px,null,17px,null);*/
  }
}
.carusel-container .palmier {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .palmier {
    display: none;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .palmier img {
    height: 280px;
    width: 230px;
  }
}
.carusel-container .palmier .overlay {
  position: relative;
}
.carusel-container .palmier .overlay .text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}
.carusel-container .palmier .overlay .text-overlay h2 {
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  padding-top: 40px;
  padding-right: auto;
  padding-bottom: 30px;
  padding-left: auto;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .palmier .overlay .text-overlay h2 {
    padding-top: 30px;
    padding-right: auto;
    padding-bottom: 30px;
    padding-left: auto;
    font-size: 55px;
  }
}
.carusel-container .palmier .overlay .text-overlay h3 {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  width: 120px;
  text-align: center;
}
.carusel-container .palmier .additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carusel-container .palmier .additional h4 {
  font-size: 18px;
  color: #45413e;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin-top: 42px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .palmier .additional h4 {
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}
.carusel-container .palmier .additional p {
  color: #45413e;
  font-size: 13px;
  width: 195px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .palmier .additional p {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
  }
}
.carusel-container .palmier .additional a button {
  width: 147px;
  height: 36px;
  border-radius: 19px;
  background-color: #fff;
  border: 2px solid #3a5b96;
  display: flex;
  align-items: center;
}
.carusel-container .palmier .additional a button span {
  color: #3a5b96;
  font-size: 14px;
  font-weight: 400;
  margin-top: 13px;
  margin-right: 60px;
  margin-bottom: 13px;
  margin-left: 28px;
}
.carusel-container .palmier .additional a button i {
  color: #3a5b96;
  font-size: 17px;
  margin-top: 11px;
  margin-bottom: 8px;
  margin-left: 23px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .palmier .additional a button i {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 20px;
  }
}
.carusel-container .carousel {
  padding-top: auto;
  padding-right: 30px;
  padding-bottom: auto;
  padding-left: auto;
  position: relative;
}
.carusel-container .carousel .swiper-pagination-bullets {
  position: absolute;
  bottom: 40px;
}
.carusel-container .carousel .swiper-pagination-bullets span {
  background-color: #fff;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel {
    justify-self: center;
  }
}
.carusel-container .carousel .carousel-overlay {
  position: relative;
  /*.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
     /* position: absolute;*/
  /* bottom:0px;} */
  /*.swiper-pagination {
      position: absolute;
      bottom:70px;
  } */
}
.carusel-container .carousel .carousel-overlay img {
  width: 870px;
  height: 505px;
  object-fit: cover;
  border-radius: 5px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel .carousel-overlay img {
    width: 290px;
    height: 472px;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .carousel .carousel-overlay img {
    width: 420px;
    height: 390px;
  }
}
.carusel-container .carousel .carousel-overlay .text-carousel-overlay1 {
  position: absolute;
  top: 79px;
  right: 0;
  left: 60px;
  bottom: 0;
  width: 559px;
  height: 322px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel .carousel-overlay .text-carousel-overlay1 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .carousel .carousel-overlay .text-carousel-overlay1 {
    width: 100%;
    height: 100%;
    top: 39px;
    left: 30px;
  }
}
.carusel-container .carousel .carousel-overlay .text-carousel-overlay2 {
  position: absolute;
  top: 79px;
  right: 0;
  left: 170px;
  bottom: 0;
  width: 559px;
  height: 322px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel .carousel-overlay .text-carousel-overlay2 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .carousel .carousel-overlay .text-carousel-overlay2 {
    width: 100%;
    height: 100%;
    top: 39px;
    left: 30px;
  }
}
.carusel-container .carousel .carousel-overlay .text-carousel-overlay3 {
  position: absolute;
  top: 79px;
  right: 0;
  left: 290px;
  bottom: 0;
  width: 559px;
  height: 322px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel .carousel-overlay .text-carousel-overlay3 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .carousel .carousel-overlay .text-carousel-overlay3 {
    width: 100%;
    height: 100%;
    top: 39px;
    left: 30px;
  }
}
.carusel-container .carousel .carousel-overlay h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  width: 559px;
  height: 93px;
  font-family: "Myriad Pro";
  margin-bottom: 114px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel .carousel-overlay h1 {
    width: 260px;
    height: 88px;
    font-size: 28px;
    margin-top: 31px;
    margin-right: 14px;
    margin-bottom: 31;
    margin-left: 14px;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .carusel-container .carousel .carousel-overlay h1 {
    font-size: 28px;
    width: 339px;
    height: 53px;
  }
}
.carusel-container .carousel .carousel-overlay p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  width: 336px;
  height: 31px;
  font-family: "Myriad Pro";
  margin-bottom: 48px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel .carousel-overlay p {
    width: 258px;
    height: 132px;
    text-align: center;
    margin-bottom: 10px;
  }
}
.carusel-container .carousel .carousel-overlay button {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 20px;
  width: 147px;
  height: 36px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  /*  @include padding(13px,33px,13px,33px);*/
  cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .carusel-container .carousel .carousel-overlay button {
    margin-right: 77px;
    margin-bottom: 70px;
    margin-left: 77px;
  }
}

.banner2 {
  position: relative;
  background-color: #262a32;
}
.banner2 img {
  width: 100%;
  height: auto;
}
.banner2 .overlay2-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.banner2 .overlay2-text h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 41px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .banner2 .overlay2-text h1 {
    font-size: 38px;
  }
}
.banner2 .overlay2-text h3 {
  width: 332px;
  height: 28px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.featured {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  background-color: #262a32;
  width: 100%;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .featured {
    display: none;
  }
}
.featured h1 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  margin-top: 44px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.featured h3 {
  text-align: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  padding-top: auto;
  padding-right: auto;
  padding-bottom: 21px;
  padding-left: auto;
  font-weight: 400;
}
.featured h4 {
  text-align: center;
  font-size: 24px;
  z-index: 1;
  font-weight: 900;
  margin-right: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  top: 10px;
  position: relative;
  background: #262a32;
}
.featured h4::before {
  content: "";
  display: block;
  width: 250px;
  height: 3px;
  background-color: #fff;
  z-index: -2;
  position: absolute;
  left: 50%;
  top: 40%;
}
.featured h4::after {
  content: "";
  display: block;
  width: 250px;
  height: 3px;
  background-color: #fff;
  z-index: -2;
  position: absolute;
  right: 50%;
  top: 40%;
}
.featured h4 span {
  position: relative;
  background: #262a32;
  font-size: 24px;
  color: white;
  font-weight: 900;
  margin-top: 70px;
  margin-right: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 32px;
  padding-left: 60px;
  text-align: center;
  bottom: 20px;
}
.featured .featured1 {
  display: flex;
  flex-direction: row;
  padding-right: 55px;
  padding-left: 55px;
}
.featured .featured1 .card-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-bottom: 64px;
  border-radius: 10px;
  /* width: 270px;
   height: 296px;*/
}
.featured .featured1 .card-feature img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.featured .featured1 .card-feature h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #45413e;
  padding-top: 19px;
}
.featured .featured1 .card-feature p {
  color: #84bc22;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 20px;
}
.featured .swiper {
  width: 100%;
  height: 100%;
}
.featured .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured .swiper .swiper-button-next {
  margin-top: calc(338px - var(--swiper-navigation-size) / 2);
  align-items: center;
  color: white;
  --swiper-navigation-size: 20px;
  left: 908px;
}
.featured .swiper .swiper-button-prev {
  margin-top: calc(388px - var(--swiper-navigation-size) / 2);
  align-items: center;
  color: white;
  --swiper-navigation-size: 20px;
  left: 360px;
}

.small-section {
  display: flex;
  flex-direction: row;
  background-color: #45413e;
  grid-gap: 100px;
  padding-top: 56px;
  padding-right: 63px;
  padding-bottom: 75px;
  padding-left: 63px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .small-section {
    flex-direction: column;
    grid-gap: 60px;
  }
}
.small-section i {
  color: #84bc22;
  font-size: 60px;
  padding-right: 36px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .small-section i {
    font-size: 40px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .small-section i {
    padding-right: 36px;
    padding-left: 36px;
  }
}
.small-section .package {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* @include padding(null,null,null,93px);*/
  /*  @include screen("breakpoint-med-small") {
        @include padding(null,null,null,43px);

    }*/
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .small-section .package:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
.small-section .package h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 22px;
}
.small-section .package p {
  color: #868380;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.error-page {
  background-color: #f1edea;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.error-page ul.breadcrumb {
  padding-top: 47px;
  padding-right: 16px;
  padding-bottom: 19px;
  padding-left: 16px;
  list-style: none;
}
.error-page ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  font-weight: 400;
}
.error-page ul.breadcrumb li + li:before {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  color: black;
  content: "/ ";
}
.error-page ul.breadcrumb li a {
  color: #84bc22;
  text-decoration: none;
}
.error-page h1 {
  text-align: center;
  font-size: 48px;
  color: #45413e;
  font-weight: 700;
  margin-top: 26px;
  position: relative;
  z-index: 1;
}
.error-page h1::before {
  content: "";
  display: block;
  width: 800px;
  height: 2px;
  background-color: #e5e2df;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}
.error-page h1::after {
  content: "";
  display: block;
  width: 800px;
  height: 2px;
  background-color: #e5e2df;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
}
.error-page h1 span {
  background-color: #f1edea;
  padding-right: 33px;
  padding-left: 33px;
}
.error-page .big-section {
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 41px;
  margin-right: 55px;
  margin-bottom: 41px;
  margin-left: 55px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .error-page .big-section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 24px;
    margin-right: 35px;
    margin-bottom: 21px;
    margin-left: 35px;
  }
}
.error-page .big-section .ops {
  position: relative;
  padding-right: 103px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .error-page .big-section .ops {
    position: static;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .error-page .big-section .ops {
    padding-right: 13px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .error-page .big-section .ops {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    position: relative;
    left: 30%;
  }
}
.error-page .big-section .ops i {
  font-size: 300px;
  color: #f1edea;
  opacity: 0.3;
  padding-top: 63px;
  padding-left: 63px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .error-page .big-section .ops i {
    display: none;
  }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .error-page .big-section .ops i {
    display: none;
  }
}
.error-page .big-section .ops .ops-over {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 105px;
  height: 100%;
  width: 100%;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .error-page .big-section .ops .ops-over {
    position: static;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .error-page .big-section .ops .ops-over {
    align-items: flex-start;
    left: 0;
    position: absolute;
  }
}
.error-page .big-section .ops .ops-over h2 {
  color: #84bc22;
  font-size: 113px;
  line-height: 60px;
  font-weight: 700;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .error-page .big-section .ops .ops-over h2 {
    font-size: 60px;
  }
}
.error-page .big-section .text-error {
  display: flex;
  flex-direction: column;
  padding-top: 71px;
  padding-right: 71px;
  padding-bottom: 71px;
  padding-left: 71px;
}
.error-page .big-section .text-error h2 {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 28px;
}
.error-page .big-section .text-error p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
}
.error-page .big-section .text-error p:nth-child(4) {
  color: #84bc22;
  padding-top: 6px;
  padding-bottom: 67px;
}
.error-page .big-section .text-error .search {
  position: relative;
}
.error-page .big-section .text-error .search input {
  border: 2px solid #45413e;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.error-page .big-section .text-error .search i {
  position: absolute;
  top: 12px;
  right: 28px;
}

.category-container {
  background-color: #f1edea;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.category-container ul.breadcrumb {
  padding-top: 47px;
  padding-right: 16px;
  padding-bottom: 19px;
  padding-left: 16px;
  list-style: none;
}
.category-container ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  font-weight: 400;
}
.category-container ul.breadcrumb li + li:before {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  color: black;
  content: "/ ";
}
.category-container ul.breadcrumb li a {
  color: #84bc22;
  text-decoration: none;
}
.category-container h1 {
  text-align: center;
  font-size: 48px;
  color: #45413e;
  font-weight: 900;
  margin-top: 26px;
  position: relative;
  z-index: 1;
}
.category-container h1::before {
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: #e5e2df;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}
.category-container h1::after {
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: #e5e2df;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
}
.category-container h1 span {
  background-color: #f1edea;
  font-weight: 900;
  padding-right: 33px;
  padding-left: 33px;
}
.category-container .filters {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 26px;
  margin-right: 55px;
  margin-bottom: 26px;
  margin-left: 55px;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .category-container .filters {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container .filters {
    grid-template-columns: 1fr;
  }
}
.category-container .filters .filter {
  padding-top: 45px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container .filters .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}
.category-container .filters .filter:nth-child(4) {
  display: flex;
}
.category-container .filters .filter:nth-child(4) a {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 15px;
  text-indent: -9999px;
  margin-left: 11px;
}
.category-container .filters .filter:nth-child(4) #white {
  background: #ffffff;
}
.category-container .filters .filter:nth-child(4) #aqua-marine {
  background: #43c0cf;
}
.category-container .filters .filter:nth-child(4) #brown {
  background: #3d402f;
}
.category-container .filters .filter:nth-child(4) #green {
  background: #4aaf00;
}
.category-container .filters .filter:nth-child(4) #blue {
  background: #315bbd;
}
.category-container .filters .filter:nth-child(4) #orange {
  background: #ec6115;
}
.category-container .filters .filter:nth-child(4) #red {
  background: #dc041d;
}
.category-container .filters .filter:nth-child(4) #darkwhite {
  background: #efead7;
}
.category-container .filters .filter label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #45413e;
  padding-right: 31px;
}
.category-container .filters .filter select {
  border: 2px solid #45413e;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 30px;
  width: 70%;
  padding-top: 12px;
  padding-right: 35px;
  padding-bottom: 12px;
  padding-left: 35px;
}
.category-container p {
  font-size: 14px;
  color: #45413e;
  padding-top: 31px;
  padding-bottom: 32px;
}
.category-container .products1 {
  background: #f1edea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 55px;
  margin-bottom: 77px;
  margin-left: 55px;
  /*@include padding(null,59px,null,59px);*/
  /* @include padding(null,70px,null,59px);*/
}
.category-container .products1 .containerProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  justify-items: center;
  /*@include padding(0px, 59px, 59px, 59px);*/
  width: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
@media only screen and (min-width:768px) and (max-width:1279px) {
  .category-container .products1 .containerProducts {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container .products1 .containerProducts {
    display: flex;
    /*flex-direction: row;*/
    text-align: center;
    /* height:100%;*/
    grid-gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 80px;
    padding-bottom: 59px;
    padding-left: 80px;
    /* @include margin(null, null, null, -20px);*/
    /*@include padding(0px,auto,59px,auto);*/
  }
}
.category-container .products1 .small-container {
  height: 366px;
  width: 271px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container .products1 .small-container {
    margin-right: -12px;
    margin-left: -12px;
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container .products1 .small-container:nth-child(n+5) {
    display: none;
  }
}
.category-container .products1 .small-container img {
  object-fit: cover;
  width: 271px;
  height: 261px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #262a32;
}
.category-container .products1 .small-container .text {
  text-align: center;
}
.category-container .products1 .small-container .text p {
  /* justify-self: center;
        align-self: center;*/
  /* @include margin(20px, 0, 20px, 0);*/
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.category-container .products1 .small-container .text .price {
  color: #bdc3c7;
  font-size: 14px;
  font-weight: 400;
}
.category-container button {
  background-color: #84bc22;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 43px;
  padding-bottom: 14px;
  padding-left: 43px;
  margin-top: 120px;
  cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container button {
    margin-top: 30px;
  }
}
.category-container .mobile-only {
  display: none;
  /* @include padding(null,70px,null,59px);*/
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container .mobile-only {
    display: none;
  }
  .category-container .mobile-only.active {
    display: flex;
    /*flex-direction: row;*/
    text-align: center;
    /* height:100%;*/
    grid-gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 80px;
    padding-bottom: 59px;
    padding-left: 80px;
    /* @include margin(null, null, null, -20px);*/
    /*@include padding(0px,auto,59px,auto);*/
  }
}
.category-container .mobile-only .small-container {
  height: 366px;
  width: 271px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container .mobile-only .small-container {
    margin-right: -12px;
    margin-left: -12px;
  }
}
.category-container .mobile-only .small-container img {
  object-fit: cover;
  width: 271px;
  height: 261px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #262a32;
}
.category-container .mobile-only .small-container .text {
  text-align: center;
}
.category-container .mobile-only .small-container .text p {
  /* justify-self: center;
        align-self: center;*/
  /* @include margin(20px, 0, 20px, 0);*/
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.category-container .mobile-only .small-container .text .price {
  color: #bdc3c7;
  font-size: 14px;
  font-weight: 400;
}
.category-container #hide {
  display: none;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .category-container #hide {
    display: block;
    font-size: 12px;
    color: #84bc22;
    padding-bottom: 10px;
  }
}

.swiper {
  width: 90%;
}

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
