@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

@import "partials/variables",
         "partials/mixin";
     

         



@import "functions/functions";


@import "components/header",
"components/loginPage",
"components/products",
"components/footer",
"components/banner",
"components/bannerTwo",
"components/featuredItems.scss",
"components/small-section",
"components/errorPage",
"components/category",
"components/pdp",
"components/cookies";



        


*{

    font-family: $font-lato;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing:border-box;
    font-weight: 400;
    
    
    }
    html{
        height:100%;
        
    }

    body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        position:relative;
    }