.login-form {
   /* display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
   /* right: -105%;*/
   right:0;
    z-index: 999;
    height: 100%;
    width:100%;
    
    background: rgba(black, 0.7);
   /* transition:all 0.5s ease-in-out;*/

    &.show-active{
        display: flex;
     /*  right: 0;*/
        transition:all 0.5s ease-in-out;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        
        border: 1px solid $grey;
        border-radius: 10px;
        width: 500px;
        /*height:467px;*/
        @include padding(32px,32px,32px,32px);
        
        @include margin(32px,32px,32px,32px);



      h2 {
          font-size: 30px;
          text-align: center;
          color:$m-grey;
          font-weight: 900;
          
      }

      span {
          display: block;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          @include padding(16px,null,null,null);
          align-self: flex-start;
          color:$m-grey;
      }

      input {
          width: 90%;
          /*margin: 0.7rem 0;*/
          @include margin(16px,0,16px,0);
          font-size: 25px;
          border: 2px solid $grey;
          border-radius: 20px;
          color: black;
          padding: 10px;
          @include padding(10px,10px,10px,10px);

         
}

      .submit-btn{
     
        @include margin(16px,null,null,null);
        display: inline-block;
       
        @include padding(11px,36px,11px,36px);
        border-radius: 20px;
        color:aliceblue;
        background: $base-green;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
        width: 50%;
        margin: 1.5rem 0;
        @include margin(20px,0,20px,0);
        border:none;
        align-content: center;

        &:hover {
            color: $base-green;
            background: white;
            border: 1px solid $base-green;
        }
      }
      p {
          color:$base-green ;
          line-height:35px;
          font-size: 12px;
          cursor: pointer;
          @include margin(null,null,-35px,null);
      }


      .pass-icons {
          display: flex;
          position:relative;
          width: 100%;
          justify-content: center;
         /* padding: 10px;*/
          

          i {
              position:absolute;
              right: 35px;
              top:30px;
              color:$grey;

             
          }
          #hide2 {
            display: none;
        }
      }
      .passForgot{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
      }
      .pass{
          
          color:$base-green ;
          line-height: 43px;
          font-size: 12px;
      }
    }
}

