.pdp {
  @include products(#f1edea) {
    width: 100%;
  
  }

  ul.breadcrumb {
    @include breaCrumb;
  }
  .whole-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    @include margin(26px, 55px, 26px, 55px);
    background-color: #ffffff;
    align-items: center;
    justify-content: center;

    .prod-container {
      display: flex;
      flex-direction: row;
      grid-gap: 15px;
      align-items: center;
      justify-content: center;
      /*background-color: #ffffff;
      @include margin(26px, 55px, 26px, 55px);*/
      @include screen("breakpoint-med-small") {
        flex-direction: column;
      }
      @include screen("breakpoint-small") {
        flex-direction: column;
      }

      .big-section {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        @include screen("breakpoint-small") {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @include margin(null, auto, null, auto);
        }

        .picture { 

          position: relative;
          
          @include margin(16px, 16px, 16px, 16px);
          align-self: flex-start;
img {
  width:100%;
  height:auto;
  display: block;
}
          @include screen("breakpoint-med-small") {
            align-self: center;
          }
          i{
            position: absolute;
            top:20px;
            left:20px;
            color: $base-green;
            cursor: pointer;
          }
          &.zoom{
            -webkit-transform : scale(1.5);
            transform: scale(1.5);
          }
         
        }
        .pictures {
          display: flex;
          flex-direction: column;
          @include margin(27px, 33px, 239px, 33px);
          grid-gap: 24px;
          width: 73px;
          height: 70px;
          cursor: pointer;
          @include screen("breakpoint-med-small") {
            flex-direction: column;
            @include margin(27px, 33px, 59px, 33px);
          }
          @include screen("breakpoint-small") {
            flex-direction: row;
            @include margin(null, null, null, null);

            grid-gap: 18px;
            @include margin(27px, 13px, 45px, 13px);
          }
        }
      }
      .infos {
        align-self: flex-start;
        @include margin(46px, 54px, 104px, 16px);
        @include screen("breakpoint-med-small") {
          align-self: center;
        }
        h2 {
          color: $m-grey;
          font-size: 48px;
          font-weight: 700;
          @include margin(null, null, 42px, null);
          @include screen("breakpoint-med-small") {
            align-self: center;
          }
        }
        .wrapping {
          width: 50%;

          &.active {
            .select {
              display: block;
            }
          }
          .option {
            display: flex;
            align-items: center;

            a {
              display: block;

              width: 14px;
              height: 14px;
              border-radius: 15px;
              text-indent: -9999px;
              @include margin(null, 11px, null, 11px);
            }
            #white {
              background: #ffffff;
            }
            #green {
              background: #4aaf00;
            }
            #red {
              background: #dc041d;
            }
            #orange {
              background: #ec6115;
            }
            #brown {
              background: #3d402f;
            }
          }
          position: relative;
          user-select: none;
          .default-option {
            border: 2px solid #e8e2d6;
            list-style: none;
            background: #ffffff;
            border-radius: 20px;
            position: relative;
            @include margin(null, null, 24px, null);
            cursor: pointer;
            &:before {
              content: "";
              position: absolute;
              top: 15px;
              right: 18px;
              width: 6px;
              height: 6px;
              border: 2px solid;
              border-color: transparent transparent #555555 #555555;
              transform: rotate(-45deg);
            }
            li {
              
              @include padding(10px,20px,10px,20px);
            }
          }
          .select {
            list-style: none;
            position: absolute;
            top: 55px;
            left: 0;
            width: 100%;
            background: #ffffff;
            border-radius: 20px;
            display: none;

            li {
              
              @include padding(10px,20px,10px,20px);
              cursor: pointer;
              border: 2px solid #e8e2d6;
              border-radius: 20px;
            }
          }
        }

        .selects {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @include margin(null, null, 52px, null);
          @include screen("breakpoint-small") {
            flex-direction: column;

            align-items: flex-start;
          }
          .numbers {
            @include select-numbers;
     
          }

          .cart {
            @include padding(12px, 28px, 12px, 28px);
            color: white;
            background: $base-green;
            cursor: pointer;
            border-radius: 20px;
            border: 2px solid #e8e2d6;
            @include margin(null, 154px, null, null);
          }
        }

        .reads {
          display: flex;
          flex-direction: column;

          justify-content: center;
          @include margin(null, null, 33px, null);

          p {
            font-size: 16px;
            line-height: 24px;
            color: $m-grey;
            font-weight: 400;
            &:nth-child(2) {
              font-size: 14px;
              color: $base-green;
              @include padding(17px, null, null, null);
              cursor: pointer;
            }
          }
        }

        .social-links {
          display: flex;
          flex-direction: row;
          opacity: 0.7;

          p {
            @include margin(null, 35px, null, null);
            color: $m-grey;
            font-size: 14px;
            line-height: 26px;
          }
          i {
            color: $m-grey;
            opacity: 0.7;
            @include margin(null, 24px, null, null);
          }
        }
      }
    }

    .tabs {
      @media print {
        display: none;
      }
      @include screen("breakpoint-small") {
        display: none;
      }
      .single-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          overflow: hidden;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          color: $grey;
          background: white;
          font-size: 24px;
          font-weight: 700;
          @include padding(20px, 20px, 20px, 20px);
          cursor: pointer;

          &.active {
            color: white;
            background: $base-darkblue;
          }
        }
      }
      .tab-content {
        color: white;
        background: $base-darkblue;
        display: none;
        grid-template-columns: 1fr 1fr;
        @include padding(70px, 69px, 70px, 69px);
        grid-gap: 20px;
        font-size: 16px;
        &.active {
          display: grid;
        }
      }
    }
  }

  h1 {
    @include horizontalLine($m-grey, #f1edea, #e5e2df, 1, 48px);
  }
}

.products-popular {
  @media print {
    display: none;
  }
  /* background-color: #f1edea;*/
  @include products(#f1edea) {
    @include padding(null, null, 59px, null);
  }

  h2 {
    @include horizontalLine($m-grey, #f1edea, #e5e2df, 1, 24px);
  }
  .containerProducts-popular {
    @include containerProducts;

    .small-container-popular {
      @include small-container-popular;
    }
  }
}

.swiper-pagination {
  display: none;
  @include screen("breakpoint-small") {
    display: block;
  }
}
#scroll {
  background: $base-green;
  color: white;
  border-radius: 20px;
  @include padding(13px, 27px, 13px, 27px);
  @include margin(57px, null, 57px, null);
  border: 2px solid $grey;
  cursor: pointer;
  font-size: 14px;
  display: none;
  @include screen("breakpoint-small") {
    display: block;
  }
}

#printButton {
  background-color: $base-green;
  border: 2px solid #d9d9d9;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  @include padding(10px, 15px, 10px, 15px);
  @include margin(null, null, 10px, null);
  cursor: pointer;

}