.products {
  
  @include products($base-darkblue);

  .prodotto {
    &.active {
      display: grid;
    }
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    @include padding(45px, 59px, 59px, 59px);
    width: 98%;

    /*@include margin(null, 59px, null, 75px);*/
    @include screen("breakpoint-med-small") {
      grid-template-columns: 1fr 1fr;
    }

    @include screen("breakpoint-small") {
      display: none;
    }

    article {
      position: relative;
      height: 366px;
      width: 271px;
      background: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      @include screen("breakpoint-small") {
        display: none;
      }
      img {
        object-fit: cover;
        width: 271px;
        height: 261px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
      .text {
        text-align: center;
        p {
          /* justify-self: center;
                align-self: center;*/

          @include margin(20px, auto, 20px, auto);
          color: $m-grey;
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
        }

        .price {
          color: #011847;
          font-size: 14px;
          font-weight: 400;
          @include margin(0px, 0px, 0px, 0px);
        }
      }
    }
  }
  /*@include padding(null,59px,null,59px);*/

  .containerProducts {
    @include containerProducts;

    .small-container {
      @include small-container-popular;

      &:hover {
        .productIcons {
          opacity: 0.9;
        }
      }

      &:nth-child(8) {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(0deg, #675b99 0%, #dc5886 100%);
          opacity: 0.8;
          border-radius: 10px;
        }
        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
          border-radius: 10px;
          background-color: $base-darkblue;
        }
        .text {
          position: absolute;
          bottom: 40px;
          left: 20px;
          z-index: 1;

          p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            width: 131px;
            height: 60px;
            line-height: 24px;
          }
          i {
            font-size: 20px;
            color: #23c46e;
            @include margin(null, 10px, null, null);
          }
          span {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
          }
        }
      }
    }
    .productIcons {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(0deg, #1bc167 0%, #2dd3a1 100%);
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;

      .fa-plus {
        background-color: #fff;
        color: #23c46e;
        font-size: 50px;
        @include padding(20px, 20px, 20px, 20px);
        border-radius: 50%;
      }
      .fa-heart {
        background-color: #fff;
        color: #e73c68;
        font-size: 50px;
        @include padding(20px, 20px, 20px, 20px);
        border-radius: 50%;
        cursor: pointer;
      }
    }

    button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @include margin(10px, auto, 10px, auto);
      border-radius: 20px;
      /*@include padding(10px,21px,1px,21px);*/
      outline: none;
      border: 2px solid $grey;
      background-color: #fff;

      a {
        color: #84bc22;
        @include padding(11px, 21px, 11px, 21px);
        /* @include margin(0px, 0px, 0px, 0px);*/
      }

      #buyCart {
        border-left: 2px solid $grey;
        align-self: center;
        font-size: 12px;
        font-weight: 400;
        color: black;
        @include padding(0px, 15px, 0px, 21px);
        cursor: pointer;
      }
    }
  }
  h2 {
    @include horizontalLine(#fff, $base-darkblue, #fff, 0.1, 24px);
  }

  .load {
    @include margin(51px, null, 60px, null);
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 2px solid $base-white;
    border-radius: 25px;
    background-color: #1e1d22;
    @include padding(13px, 69px, 13px, 69px);

    p {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
    i {
      color: #ffffff;
      @include padding(null, 24px, null, 24px);

      font-size: 20px;
    }
  }

  .load {
    @include screen("breakpoint-small") {
      display: none;
    }
  }
}

.mySwiper {
  margin-left: null;
  margin-right: null;
  width: 100%;
  @include screen("breakpoint-small") {
    /* width: 100%;*/
    height: 100%;
  }

  .swiper-slide {
    @include screen("breakpoint-small") {
      width: 0px;
      /* text-align: center;*/
      /* font-size: 18px;*/
      /* background: #fff;*/

      /* Center slide text vertically */
      /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
    }
  }

.swiper-slide img {
  @include screen("breakpoint-small") {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, 	#C8C8C8);
  
}
}