$base-green: #84bc22;
$base-darkblue: #262a32;
$base-blue: #3a5b96;
$base-white: #e8e2d6;
$grey: #999999;
$d-grey: #2d343a;
$m-grey: #45413e;

$font-lato: "Lato", sans-serif;

/*$breakpoint-small: 320px;
$breakpoint-med-small: 768px;
$breakpoint-big: 1280px;*/